<%- include('../partials/frontend/head.ejs') %>
<!--Stripe  -->
<script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <div class="container">
        <div class="input-card">
            <div class="card-title">
                <h4>Payment</h4>
            </div>
            <div class="row line-divider">
                <div class="col-4"></div>
                <div class="col-4 top-border"></div>
                <div class="col-4"></div>
            </div>
            <div>
                <div class="row item-total-row">
                    <div class="col">
                        <p>Boot Fee</p>
                    </div>
                </div>
                <div class="row amount-row">
                    <div class="col">
                        <p>$<%= fee %>
                        </p>
                    </div>
                </div>
                <div class="row item-total-row">
                    <div class="col">
                        <p>Security Deposit*</p>
                    </div>
                </div>
                <div class="row amount-row">
                    <div class="col">
                        <p>$<%= deposit %>
                        </p>
                    </div>
                </div>
                <div class="row item-total-row">
                    <div class="col">
                        <p>Total Amount</p>
                    </div>
                </div>
                <div class="row amount-row">
                    <div class="col">
                        <p>$<%= total %>
                        </p>
                    </div>
                </div>
                <small>*Deposits are refunded once boot is collected undamaged</small>
            </div>

            <div class="row line-divider">
                <div class="col-4"></div>
                <div class="col-4 top-border"></div>
                <div class="col-4"></div>
            </div>
            <!-- Stripe -->

            <form id="paymentForm" data-key="<%= pubKey %>">
                <div class="row pay-row">
                    <div class="col">
                        <div id="cardNumber" class="form-control"></div>
                    </div>
                </div>
                <div class="row pay-row">
                    <div class="col">
                        <div id="cardExpiry" class="form-control"></div>
                    </div>
                    <div class="col">
                        <div id="cardCvc" class="form-control"></div>
                    </div>
                </div>
                <div class="row pay-row">
                    <div class="col">
                        <div id="postalCode" class="form-control"></div>
                    </div>
                    <div class="col"></div>
                </div>
                
                <div id="card-errors" role="alert"></div>
                <button id="submit" class="btn btn-primary">Submit Payment</button>
            </form>

        </div>
    </div>
</body>

<%- include('../partials/frontend/foot.ejs') %>
<script src="../../js/front-js/stripeApp.js"></script>
</footer>