<%- include('../partials/frontend/head.ejs') %>

</head>

<body>
    <div class="container">
        <div class="input-card">
            <div class="card-title">
                <h4>Vehicle Details</h4>
            </div>
            <div class="row line-divider">
                <div class="col-4"></div>
                <div class="col-4 top-border"></div>
                <div class="col-4"></div>
            </div>
            <div>
                <div class="row details-row">
                    <div class="col">
                        <p><strong>Make:</strong></p>
                    </div>
                    <div class="col">
                        <p><strong>Model:</strong></p>
                    </div>
                </div>
                <div class="row details-row">
                    <div class="col">
                        <p>
                            <%= boot.make %>
                                </5>
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <%= boot.model %>
                        </p>
                    </div>
                </div>
                <div class="row details-row">
                    <div class="col">
                        <p><strong>License Plate:</strong></p>
                    </div>
                    <div class="col">
                        <p>
                            <%= boot.plate %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row disclaimer-text">
                <small>Be sure the above details match the vehicle you are trying to remove
                    the boot from. If not, click 'Cancel' and re-enter your boot ID.</small>
            </div>
            <div class="row line-divider">
                <div class="col-4"></div>
                <div class="col-4 top-border"></div>
                <div class="col-4"></div>
            </div>
            <form action="/user-info" method="POST" id="userInfo">
                <div class="bottom-space">
                    <label< for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Enter email..." required>
                    <small style="margin-bottom: 12px;">Your unlock code will be sent here!</small>
                </div>
                <div>
                    <label< for="confirmEmail">Confirm Email</label>
                    <input type="text" id="confirmEmail" name="confirmEmail" class="form-control" placeholder="Re-enter email..." required>
                </div>
                <div class="button-bank">
                    <a href="/cancel">
                        <button type="button" class="btn btn-danger btn-cancel">Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
                <div class="row" id="loader" style="display: none;">
                    <img src="../../img/preloader.gif" class="align-self-center loader" alt="loading">
                </div>
                <% if (typeof messages !=='undefined' ) {%>
                    <% messages.forEach((message)=> { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% }) %>
                <% } %>
            </form>
            <%- include('../partials/frontend/support-line.ejs') %>
        </div>
    </div>
</body>

<%- include('../partials/frontend/foot.ejs') %>
<script src="../../js/front-js/app-listener.js"></script>
</footer>